<% layout('layout') %>

<h1>Welcome! This is where dreams come true and kittens are reality!</h1>
<img src="https://s-media-cache-ak0.pinimg.com/originals/50/73/b1/5073b148e93c8294d6735b20f19d6da5.jpg" width="600px">
