<% layout('layout') %>
<br>
<h1>The place to find kitten friends and where they live!</h1>
<br>
<br>
<img src="https://s-media-cache-ak0.pinimg.com/originals/50/73/b1/5073b148e93c8294d6735b20f19d6da5.jpg" width="600px" class="rad">
